service watchdogd /sbin/watchdogd
    user root
    class core
    oneshot
    seclabel u:r:watchdogd:s0

on boot
    start watchdogd

service dhcpcd_eth0 /system/bin/dhcpcd -ABDKL eth0
    class main
    disabled
    oneshot

on post-fs
    start dhcpcd_eth0

on boot
    write /sys/class/android_usb/android0/enable 0
    write /sys/class/android_usb/android0/iManufacturer ${ro.product.manufacturer}
    write /sys/class/android_usb/android0/iProduct ${ro.product.model}
    write /sys/class/android_usb/android0/iSerial ${ro.serialno}
    write /sys/class/android_usb/android0/f_ffs/aliases adb
    write /sys/class/android_usb/android0/functions adb
    write /sys/class/android_usb/android0/idVendor 8087
    write /sys/class/android_usb/android0/idProduct 09ef
    write /sys/class/android_usb/android0/enable 1

on fs
    mkdir /dev/usb-ffs 0770 shell shell
    mkdir /dev/usb-ffs/adb 0770 shell shell
    mount functionfs adb /dev/usb-ffs/adb uid=2000,gid=2000

on init
    mkdir /dev/block 0755 root root
    symlink /dev/block/platform/pci0000:00/80860F14:00/by-name /dev/block/by-name

service thermal_lite /thermal_lite
    oneshot
    seclabel u:r:thermal_lite:s0

on post-fs-data
    start thermal_lite ROS

on boot
    write /sys/class/backlight/intel_backlight/brightness 50
